# ignore all local container, load and build directories
docker_containers
docker_load
docker_build
*.log
push-to-repo.sh
pull-from-repo.sh
pull-from-repo_fvj.sh
push-to-repo_fvj.sh
*.pyc
*.fuse*
*.ini
